# Step 1: Scrape the wikipedia for data of the neighborhoods in Toronto
Requirements: 

* The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
* Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
* More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
* If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
* Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
* In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [2]:
import random # library for random number generation
import numpy as np # library for vectorized computation
import pandas as pd # library to process data as dataframes

## 1.1 Scrape from wikipedia using pandas 'read_html'

In [28]:
wiki_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
wiki_data = pd.read_html(wiki_url)[0]
print(f"{wiki_data.shape}\n {wiki_data.head()}")

(180, 3)
   Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

## 1.2 cleanup data

In [53]:
toronto_data = wiki_data.loc[wiki_data['Borough'] != "Not assigned"].reset_index(drop=True)
print(f"{toronto_data.shape}\n {toronto_data.head()}")

(103, 3)
   Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [54]:
#check if 'M5A' taking one row:
toronto_data[toronto_data['Postal Code']=="M5A"]

  Postal Code           Borough               Neighborhood
2         M5A  Downtown Toronto  Regent Park, Harbourfront

In [57]:
# check if Neighborhood col has valid data, if not, coping over the 'Borough' over:
invalid_str = "Not assigned"
toronto_data.loc[(toronto_data.Neighborhood == invalid_str),'Neighborhood']= toronto_data.Borough
display(toronto_data[toronto_data['Neighborhood']==invalid_str])

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

## final shape of data:

In [58]:
toronto_data.shape

(103, 3)

# Step 2: get the latitude and the longitude coordinates of each neighborhood.

In [84]:
! pip install pgeocode

Collecting pgeocode
  Downloading https://files.pythonhosted.org/packages/86/44/519e3db3db84acdeb29e24f2e65991960f13464279b61bde5e9e96909c9d/pgeocode-0.2.1-py2.py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from pgeocode) (2.23.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pgeocode) (1.0.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pgeocode) (1.18.5)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->pgeocode) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->pgeocode) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->pgeocode) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->pgeocode) (1.24.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->pgeocode) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->pgeocode) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->pgeocode) (1.12.0)
Installing collected packages: pgeocode
Successfully installed pgeocode-0.2.1

In [114]:
from pgeocode import Nominatim

def get_coordinates(postal_code):
  nomi = Nominatim('ca')
  lat_lng_coords = nomi.query_postal_code(postal_code)
  #print(lat_lng_coords.latitude, lat_lng_coords.longitude)

  latitude = lat_lng_coords.latitude
  longitude = lat_lng_coords.longitude
  return (latitude, longitude)

In [115]:
# append coordinates:
coordinate_list = []
for postal, boro, neigh in zip(toronto_data['Postal Code'], toronto_data['Borough'], toronto_data['Neighborhood']):
  
  lat, lon = get_coordinates(postal)
  #print(postal, boro, neigh, lat, lon)
  coordinate_list.append([postal, boro, neigh, lat, lon])

toronto_coord = pd.DataFrame(coordinate_list)
toronto_coord.columns = ['Postal Code', 'Borough', 'Neighborhood', 'Latitude', 'Longitude']

In [112]:
display(toronto_coord)

    Postal Code           Borough  ... Latitude  Longitude
0           M3A        North York  ...  43.7545   -79.3300
1           M4A        North York  ...  43.7276   -79.3148
2           M5A  Downtown Toronto  ...  43.6555   -79.3626
3           M6A        North York  ...  43.7223   -79.4504
4           M7A  Downtown Toronto  ...  43.6641   -79.3889
..          ...               ...  ...      ...        ...
98          M8X         Etobicoke  ...  43.6518   -79.5076
99          M4Y  Downtown Toronto  ...  43.6656   -79.3830
100         M7Y      East Toronto  ...  43.7804   -79.2505
101         M8Y         Etobicoke  ...  43.6325   -79.4939
102         M8Z         Etobicoke  ...  43.6256   -79.5231

[103 rows x 5 columns]

# Step 3: Explore and cluster the neighborhoods in Toronto (with only boroughs that contain the word Toronto)

In [160]:
import folium

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

## 3.1 filter data

In [125]:
neighborhoods = toronto_coord.loc[toronto_coord['Borough'].str.contains('Toronto')]
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(neighborhoods['Borough'].unique()),
        neighborhoods.shape[0]
    )
)

The dataframe has 4 boroughs and 39 neighborhoods.

In [143]:
# create map of New York using latitude and longitude values
latitude = neighborhoods["Latitude"][2]
longitude =  neighborhoods["Longitude"][2]
map_toronto = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, borough, neighborhood in zip(neighborhoods['Latitude'], neighborhoods['Longitude'], neighborhoods['Borough'], neighborhoods['Neighborhood']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_toronto)  
    
map_toronto

# 3.2 get venues data from Foursquare

In [163]:
CLIENT_ID = 'FZ4SGISHJHNAUF001B3WARC00KHRISPK2UAKPDHE14CKI1X1' # your Foursquare ID
CLIENT_SECRET = 'DRD55DNPRNKX0DPMKKDAO2QFEO0FRFMHVQERIMS4RA2EDU0S' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version
LIMIT = 20
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

toronto_data = neighborhoods.reset_index(drop=True)
display(toronto_data.head())

Your credentails:
CLIENT_ID: FZ4SGISHJHNAUF001B3WARC00KHRISPK2UAKPDHE14CKI1X1
CLIENT_SECRET:DRD55DNPRNKX0DPMKKDAO2QFEO0FRFMHVQERIMS4RA2EDU0S

  Postal Code           Borough  ... Latitude  Longitude
0         M5A  Downtown Toronto  ...  43.6555   -79.3626
1         M7A  Downtown Toronto  ...  43.6641   -79.3889
2         M5B  Downtown Toronto  ...  43.6572   -79.3783
3         M5C  Downtown Toronto  ...  43.6513   -79.3756
4         M4E      East Toronto  ...  43.6784   -79.2941

[5 rows x 5 columns]

In [165]:
neighborhood_latitude = toronto_data.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = toronto_data.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = toronto_data.loc[0, 'Neighborhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

search_query = neighborhood_name
latitude = neighborhood_latitude
longitude = neighborhood_longitude
LIMIT = 100
radius = 500

print(search_query + ' .... OK!')

#url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url = 'https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&ll={},{}&v={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, radius, LIMIT)
print(url)
results = requests.get(url).json()
results.keys()

Latitude and longitude values of Regent Park, Harbourfront are 43.6555, -79.3626.
Regent Park, Harbourfront .... OK!
https://api.foursquare.com/v2/venues/explore?client_id=FZ4SGISHJHNAUF001B3WARC00KHRISPK2UAKPDHE14CKI1X1&client_secret=DRD55DNPRNKX0DPMKKDAO2QFEO0FRFMHVQERIMS4RA2EDU0S&ll=43.6555,-79.3626&v=20180605&radius=500&limit=100

dict_keys(['meta', 'response'])

In [166]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    print(names.shape)
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        try:
          results = requests.get(url).json()["response"]['groups'][0]['items']
        except:
          print(f"not able to handle request for {name}")
          continue
          
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [167]:

toronto_venues = getNearbyVenues(names=toronto_data['Neighborhood'],
                                   latitudes=toronto_data['Latitude'],
                                   longitudes=toronto_data['Longitude']
                                  )

(39,)
Regent Park, Harbourfront
Queen's Park, Ontario Provincial Government
Garden District, Ryerson
St. James Town
The Beaches
Berczy Park
Central Bay Street
Christie
Richmond, Adelaide, King
Dufferin, Dovercourt Village
Harbourfront East, Union Station, Toronto Islands
Little Portugal, Trinity
The Danforth West, Riverdale
Toronto Dominion Centre, Design Exchange
Brockton, Parkdale Village, Exhibition Place
India Bazaar, The Beaches West
Commerce Court, Victoria Hotel
Studio District
Lawrence Park
Roselawn
Davisville North
Forest Hill North & West, Forest Hill Road Park
High Park, The Junction South
North Toronto West, Lawrence Park
The Annex, North Midtown, Yorkville
Parkdale, Roncesvalles
Davisville
University of Toronto, Harbord
Runnymede, Swansea
not able to handle request for Runnymede, Swansea
Moore Park, Summerhill East
Kensington Market, Chinatown, Grange Park
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park
CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport
Rosedale
Stn A PO Boxes
St. James Town, Cabbagetown
First Canadian Place, Underground city
Church and Wellesley
Business reply mail Processing Centre, South Central Letter Processing Plant Toronto

In [168]:
print(toronto_venues.shape)
toronto_venues.head()

(1478, 7)

                Neighborhood  ...  Venue Category
0  Regent Park, Harbourfront  ...          Bakery
1  Regent Park, Harbourfront  ...     Coffee Shop
2  Regent Park, Harbourfront  ...  Breakfast Spot
3  Regent Park, Harbourfront  ...     Yoga Studio
4  Regent Park, Harbourfront  ...             Pub

[5 rows x 7 columns]

In [169]:
# one hot encoding
toronto_onehot = pd.get_dummies(toronto_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
toronto_onehot['Neighborhood'] = toronto_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [toronto_onehot.columns[-1]] + list(toronto_onehot.columns[:-1])
toronto_onehot = toronto_onehot[fixed_columns]

toronto_onehot.head()

   Yoga Studio  Accessories Store  ...  Wings Joint  Women's Store
0            0                  0  ...            0              0
1            0                  0  ...            0              0
2            0                  0  ...            0              0
3            1                  0  ...            0              0
4            0                  0  ...            0              0

[5 rows x 208 columns]

In [170]:
toronto_grouped = toronto_onehot.groupby('Neighborhood').mean().reset_index()
toronto_grouped

                                         Neighborhood  ...  Women's Store
0                                         Berczy Park  ...           0.00
1        Brockton, Parkdale Village, Exhibition Place  ...           0.00
2   Business reply mail Processing Centre, South C...  ...           0.00
3   CN Tower, King and Spadina, Railway Lands, Har...  ...           0.00
4                                  Central Bay Street  ...           0.00
5                                            Christie  ...           0.00
6                                Church and Wellesley  ...           0.00
7                      Commerce Court, Victoria Hotel  ...           0.01
8                                          Davisville  ...           0.00
9                                    Davisville North  ...           0.00
10                       Dufferin, Dovercourt Village  ...           0.00
11             First Canadian Place, Underground city  ...           0.01
12    Forest Hill North & West, Forest Hill Road Park  ...           0.00
13                           Garden District, Ryerson  ...           0.00
14  Harbourfront East, Union Station, Toronto Islands  ...           0.00
15                      High Park, The Junction South  ...           0.00
16                     India Bazaar, The Beaches West  ...           0.00
17          Kensington Market, Chinatown, Grange Park  ...           0.00
18                                      Lawrence Park  ...           0.00
19                           Little Portugal, Trinity  ...           0.00
20                        Moore Park, Summerhill East  ...           0.00
21                  North Toronto West, Lawrence Park  ...           0.00
22                             Parkdale, Roncesvalles  ...           0.00
23        Queen's Park, Ontario Provincial Government  ...           0.00
24                          Regent Park, Harbourfront  ...           0.00
25                           Richmond, Adelaide, King  ...           0.01
26                                           Rosedale  ...           0.00
27                                           Roselawn  ...           0.00
28                                     St. James Town  ...           0.00
29                        St. James Town, Cabbagetown  ...           0.00
30                                     Stn A PO Boxes  ...           0.00
31                                    Studio District  ...           0.00
32  Summerhill West, Rathnelly, South Hill, Forest...  ...           0.00
33                The Annex, North Midtown, Yorkville  ...           0.00
34                                        The Beaches  ...           0.00
35                       The Danforth West, Riverdale  ...           0.00
36           Toronto Dominion Centre, Design Exchange  ...           0.00
37                     University of Toronto, Harbord  ...           0.00

[38 rows x 208 columns]

In [171]:
num_top_venues = 5

for hood in toronto_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = toronto_grouped[toronto_grouped['Neighborhood'] == hood].T.reset_index()
    display(temp.head())
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Berczy Park----

                 index            0
0         Neighborhood  Berczy Park
1          Yoga Studio    0.0108696
2    Accessories Store            0
3    Afghan Restaurant            0
4  American Restaurant    0.0108696

                venue  freq
0         Coffee Shop  0.10
1                CafÃ©  0.05
2               Hotel  0.05
3  Seafood Restaurant  0.04
4          Restaurant  0.03


----Brockton, Parkdale Village, Exhibition Place----

                 index                                             1
0         Neighborhood  Brockton, Parkdale Village, Exhibition Place
1          Yoga Studio                                             0
2    Accessories Store                                      0.025641
3    Afghan Restaurant                                             0
4  American Restaurant                                             0

                    venue  freq
0                    CafÃ©  0.08
1             Coffee Shop  0.08
2               Gift Shop  0.05
3          Breakfast Spot  0.05
4  Thrift / Vintage Store  0.05


----Business reply mail Processing Centre, South Central Letter Processing Plant Toronto----

                 index                                                  2
0         Neighborhood  Business reply mail Processing Centre, South C...
1          Yoga Studio                                          0.0769231
2    Accessories Store                                                  0
3    Afghan Restaurant                                                  0
4  American Restaurant                                                  0

            venue  freq
0     Coffee Shop  0.15
1      Restaurant  0.15
2  Breakfast Spot  0.08
3       Bookstore  0.08
4            Bank  0.08


----CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport----

                 index                                                  3
0         Neighborhood  CN Tower, King and Spadina, Railway Lands, Har...
1          Yoga Studio                                          0.0169492
2    Accessories Store                                                  0
3    Afghan Restaurant                                                  0
4  American Restaurant                                                  0

                venue  freq
0         Coffee Shop  0.07
1  Italian Restaurant  0.05
2                CafÃ©  0.05
3                 Bar  0.05
4              Bakery  0.03


----Central Bay Street----

                 index                   4
0         Neighborhood  Central Bay Street
1          Yoga Studio                   0
2    Accessories Store                   0
3    Afghan Restaurant                   0
4  American Restaurant                   0

                 venue  freq
0          Coffee Shop  0.18
1       Sandwich Place  0.06
2   Italian Restaurant  0.05
3  Japanese Restaurant  0.05
4                 CafÃ©  0.03


----Christie----

                 index         5
0         Neighborhood  Christie
1          Yoga Studio         0
2    Accessories Store         0
3    Afghan Restaurant         0
4  American Restaurant         0

           venue  freq
0           CafÃ©  0.27
1  Grocery Store  0.27
2     Playground  0.09
3           Park  0.09
4    Candy Store  0.09


----Church and Wellesley----

                 index                     6
0         Neighborhood  Church and Wellesley
1          Yoga Studio              0.027027
2    Accessories Store                     0
3    Afghan Restaurant             0.0135135
4  American Restaurant             0.0135135

                 venue  freq
0          Coffee Shop  0.07
1  Japanese Restaurant  0.05
2     Sushi Restaurant  0.05
3           Restaurant  0.04
4              Gay Bar  0.04


----Commerce Court, Victoria Hotel----

                 index                               7
0         Neighborhood  Commerce Court, Victoria Hotel
1          Yoga Studio                               0
2    Accessories Store                               0
3    Afghan Restaurant                               0
4  American Restaurant                            0.03

         venue  freq
0  Coffee Shop  0.08
1         CafÃ©  0.07
2   Restaurant  0.06
3        Hotel  0.05
4          Gym  0.04


----Davisville----

                 index           8
0         Neighborhood  Davisville
1          Yoga Studio           0
2    Accessories Store           0
3    Afghan Restaurant           0
4  American Restaurant           0

                venue  freq
0                CafÃ©  0.09
1        Dessert Shop  0.09
2         Coffee Shop  0.09
3  Italian Restaurant  0.09
4      Sandwich Place  0.09


----Davisville North----

                 index                 9
0         Neighborhood  Davisville North
1          Yoga Studio                 0
2    Accessories Store                 0
3    Afghan Restaurant                 0
4  American Restaurant                 0

                  venue  freq
0     Food & Drink Shop  0.14
1                 Hotel  0.14
2                  Park  0.14
3        Breakfast Spot  0.14
4  Gym / Fitness Center  0.14


----Dufferin, Dovercourt Village----

                 index                            10
0         Neighborhood  Dufferin, Dovercourt Village
1          Yoga Studio                             0
2    Accessories Store                             0
3    Afghan Restaurant                             0
4  American Restaurant                             0

                    venue  freq
0                    Park  0.11
1                  Bakery  0.11
2  Furniture / Home Store  0.06
3                     Bar  0.06
4               Pet Store  0.06


----First Canadian Place, Underground city----

                 index                                      11
0         Neighborhood  First Canadian Place, Underground city
1          Yoga Studio                                       0
2    Accessories Store                                       0
3    Afghan Restaurant                                       0
4  American Restaurant                                    0.03

         venue  freq
0  Coffee Shop  0.08
1         CafÃ©  0.07
2   Restaurant  0.06
3        Hotel  0.05
4          Gym  0.04


----Forest Hill North & West, Forest Hill Road Park----

                 index                                               12
0         Neighborhood  Forest Hill North & West, Forest Hill Road Park
1          Yoga Studio                                                0
2    Accessories Store                                                0
3    Afghan Restaurant                                                0
4  American Restaurant                                                0

          venue  freq
0  Home Service  0.33
1          Park  0.33
2         Trail  0.33
3   Yoga Studio  0.00
4        Museum  0.00


----Garden District, Ryerson----

                 index                        13
0         Neighborhood  Garden District, Ryerson
1          Yoga Studio                         0
2    Accessories Store                         0
3    Afghan Restaurant                         0
4  American Restaurant                         0

                       venue  freq
0                Coffee Shop  0.09
1             Clothing Store  0.07
2  Middle Eastern Restaurant  0.04
3        Japanese Restaurant  0.03
4             Cosmetics Shop  0.03


----Harbourfront East, Union Station, Toronto Islands----

                 index                                                 14
0         Neighborhood  Harbourfront East, Union Station, Toronto Islands
1          Yoga Studio                                                  0
2    Accessories Store                                                  0
3    Afghan Restaurant                                                  0
4  American Restaurant                                                  0

             venue  freq
0  Harbor / Marina  0.25
1             Park  0.25
2             CafÃ©  0.25
3      Music Venue  0.25
4      Yoga Studio  0.00


----High Park, The Junction South----

                 index                             15
0         Neighborhood  High Park, The Junction South
1          Yoga Studio                              0
2    Accessories Store                              0
3    Afghan Restaurant                              0
4  American Restaurant                              0

                      venue  freq
0                      Park   1.0
1               Yoga Studio   0.0
2                    Museum   0.0
3  Mediterranean Restaurant   0.0
4               Men's Store   0.0


----India Bazaar, The Beaches West----

                 index                              16
0         Neighborhood  India Bazaar, The Beaches West
1          Yoga Studio                               0
2    Accessories Store                               0
3    Afghan Restaurant                               0
4  American Restaurant                               0

                  venue  freq
0                  Park  0.10
1        Sandwich Place  0.10
2  Fast Food Restaurant  0.10
3           Pizza Place  0.05
4          Liquor Store  0.05


----Kensington Market, Chinatown, Grange Park----

                 index                                         17
0         Neighborhood  Kensington Market, Chinatown, Grange Park
1          Yoga Studio                                          0
2    Accessories Store                                          0
3    Afghan Restaurant                                          0
4  American Restaurant                                          0

                           venue  freq
0                           CafÃ©  0.10
1             Mexican Restaurant  0.06
2  Vegetarian / Vegan Restaurant  0.06
3                         Bakery  0.06
4                    Gaming Cafe  0.04


----Lawrence Park----

                 index             18
0         Neighborhood  Lawrence Park
1          Yoga Studio              0
2    Accessories Store              0
3    Afghan Restaurant              0
4  American Restaurant              0

                      venue  freq
0        Photography Studio   0.5
1                      Park   0.5
2             Movie Theater   0.0
3         Martial Arts Dojo   0.0
4  Mediterranean Restaurant   0.0


----Little Portugal, Trinity----

                 index                        19
0         Neighborhood  Little Portugal, Trinity
1          Yoga Studio                 0.0212766
2    Accessories Store                         0
3    Afghan Restaurant                         0
4  American Restaurant                 0.0212766

                           venue  freq
0                            Bar  0.09
1          Vietnamese Restaurant  0.04
2  Vegetarian / Vegan Restaurant  0.04
3                   Cocktail Bar  0.04
4                     Restaurant  0.04


----Moore Park, Summerhill East----

                 index                           20
0         Neighborhood  Moore Park, Summerhill East
1          Yoga Studio                            0
2    Accessories Store                            0
3    Afghan Restaurant                            0
4  American Restaurant                            0

             venue  freq
0             Park   0.4
1  Thai Restaurant   0.2
2              Gym   0.2
3    Grocery Store   0.2
4      Yoga Studio   0.0


----North Toronto West, Lawrence Park----

                 index                                 21
0         Neighborhood  North Toronto West, Lawrence Park
1          Yoga Studio                                  0
2    Accessories Store                                  0
3    Afghan Restaurant                                  0
4  American Restaurant                                  0

         venue  freq
0   Playground  0.25
1     Gym Pool  0.25
2         Park  0.25
3       Garden  0.25
4  Yoga Studio  0.00


----Parkdale, Roncesvalles----

                 index                      22
0         Neighborhood  Parkdale, Roncesvalles
1          Yoga Studio                       0
2    Accessories Store                       0
3    Afghan Restaurant                       0
4  American Restaurant               0.0434783

                         venue  freq
0                       Bakery  0.07
1  Eastern European Restaurant  0.07
2                  Coffee Shop  0.07
3             Sushi Restaurant  0.07
4                         CafÃ©  0.04


----Queen's Park, Ontario Provincial Government----

                 index                                           23
0         Neighborhood  Queen's Park, Ontario Provincial Government
1          Yoga Studio                                            0
2    Accessories Store                                            0
3    Afghan Restaurant                                            0
4  American Restaurant                                            0

              venue  freq
0  Sushi Restaurant  0.07
1       Coffee Shop  0.07
2             Diner  0.04
3     Burrito Place  0.04
4   College Theater  0.04


----Regent Park, Harbourfront----

                 index                         24
0         Neighborhood  Regent Park, Harbourfront
1          Yoga Studio                  0.0434783
2    Accessories Store                          0
3    Afghan Restaurant                          0
4  American Restaurant                          0

            venue  freq
0     Coffee Shop  0.22
1  Breakfast Spot  0.09
2     Yoga Studio  0.04
3      Beer Store  0.04
4       Wine Shop  0.04


----Richmond, Adelaide, King----

                 index                        25
0         Neighborhood  Richmond, Adelaide, King
1          Yoga Studio                         0
2    Accessories Store                         0
3    Afghan Restaurant                         0
4  American Restaurant                      0.03

         venue  freq
0  Coffee Shop  0.07
1         CafÃ©  0.07
2   Restaurant  0.05
3          Gym  0.04
4        Hotel  0.04


----Rosedale----

                 index        26
0         Neighborhood  Rosedale
1          Yoga Studio         0
2    Accessories Store         0
3    Afghan Restaurant         0
4  American Restaurant         0

           venue  freq
0     Playground  0.25
1           Park  0.25
2  Grocery Store  0.25
3    Candy Store  0.25
4    Yoga Studio  0.00


----Roselawn----

                 index        27
0         Neighborhood  Roselawn
1          Yoga Studio         0
2    Accessories Store         0
3    Afghan Restaurant         0
4  American Restaurant         0

                      venue  freq
0              Home Service   1.0
1               Yoga Studio   0.0
2                    Museum   0.0
3  Mediterranean Restaurant   0.0
4               Men's Store   0.0


----St. James Town----

                 index              28
0         Neighborhood  St. James Town
1          Yoga Studio               0
2    Accessories Store               0
3    Afghan Restaurant               0
4  American Restaurant       0.0344828

                 venue  freq
0                 CafÃ©  0.07
1          Coffee Shop  0.07
2   Seafood Restaurant  0.05
3  American Restaurant  0.03
4         Cocktail Bar  0.03


----St. James Town, Cabbagetown----

                 index                           29
0         Neighborhood  St. James Town, Cabbagetown
1          Yoga Studio                            0
2    Accessories Store                            0
3    Afghan Restaurant                            0
4  American Restaurant                            0

                venue  freq
0         Coffee Shop  0.08
1          Restaurant  0.05
2           Pet Store  0.05
3  Chinese Restaurant  0.05
4              Bakery  0.05


----Stn A PO Boxes----

                 index              30
0         Neighborhood  Stn A PO Boxes
1          Yoga Studio               0
2    Accessories Store               0
3    Afghan Restaurant               0
4  American Restaurant       0.0206186

         venue  freq
0  Coffee Shop  0.16
1   Restaurant  0.07
2        Hotel  0.04
3          Gym  0.04
4         CafÃ©  0.04


----Studio District----

                 index               31
0         Neighborhood  Studio District
1          Yoga Studio                0
2    Accessories Store                0
3    Afghan Restaurant                0
4  American Restaurant                0

             venue  freq
0  Coworking Space  0.12
1              Gym  0.12
2    Garden Center  0.12
3      Coffee Shop  0.12
4            Diner  0.12


----Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park----

                 index                                                 32
0         Neighborhood  Summerhill West, Rathnelly, South Hill, Forest...
1          Yoga Studio                                                  0
2    Accessories Store                                                  0
3    Afghan Restaurant                                                  0
4  American Restaurant                                                  0

                venue  freq
0  Light Rail Station  0.33
1         Coffee Shop  0.33
2        Liquor Store  0.17
3         Supermarket  0.17
4         Yoga Studio  0.00


----The Annex, North Midtown, Yorkville----

                 index                                   33
0         Neighborhood  The Annex, North Midtown, Yorkville
1          Yoga Studio                                    0
2    Accessories Store                                    0
3    Afghan Restaurant                                    0
4  American Restaurant                                 0.04

                       venue  freq
0                       CafÃ©  0.08
1             Sandwich Place  0.08
2                   Pharmacy  0.04
3                        Pub  0.04
4  Middle Eastern Restaurant  0.04


----The Beaches----

                 index           34
0         Neighborhood  The Beaches
1          Yoga Studio            0
2    Accessories Store            0
3    Afghan Restaurant            0
4  American Restaurant            0

                venue  freq
0                 Pub  0.22
1   Health Food Store  0.11
2  Miscellaneous Shop  0.11
3         Cheese Shop  0.11
4               Trail  0.11


----The Danforth West, Riverdale----

                 index                            35
0         Neighborhood  The Danforth West, Riverdale
1          Yoga Studio                      0.027027
2    Accessories Store                             0
3    Afghan Restaurant                             0
4  American Restaurant                      0.027027

                venue  freq
0    Greek Restaurant  0.22
1      Ice Cream Shop  0.05
2  Italian Restaurant  0.05
3                CafÃ©  0.05
4          Restaurant  0.05


----Toronto Dominion Centre, Design Exchange----

                 index                                        36
0         Neighborhood  Toronto Dominion Centre, Design Exchange
1          Yoga Studio                                         0
2    Accessories Store                                         0
3    Afghan Restaurant                                         0
4  American Restaurant                                      0.03

                venue  freq
0               Hotel  0.09
1         Coffee Shop  0.09
2                CafÃ©  0.07
3          Restaurant  0.03
4  Seafood Restaurant  0.03


----University of Toronto, Harbord----

                 index                              37
0         Neighborhood  University of Toronto, Harbord
1          Yoga Studio                       0.0333333
2    Accessories Store                               0
3    Afghan Restaurant                               0
4  American Restaurant                               0

                 venue  freq
0                 CafÃ©  0.13
1   Italian Restaurant  0.07
2  Japanese Restaurant  0.07
3               Bakery  0.07
4            Bookstore  0.07

In [173]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = toronto_grouped['Neighborhood']

for ind in np.arange(toronto_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(toronto_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

                                        Neighborhood  ... 10th Most Common Venue
0                                        Berczy Park  ...          Deli / Bodega
1       Brockton, Parkdale Village, Exhibition Place  ...     Italian Restaurant
2  Business reply mail Processing Centre, South C...  ...      Martial Arts Dojo
3  CN Tower, King and Spadina, Railway Lands, Har...  ...                 Bakery
4                                 Central Bay Street  ...   Fast Food Restaurant

[5 rows x 11 columns]

# 3.3 cluster neighborhoods by top venues

In [180]:
# set number of clusters
kclusters = 5

toronto_grouped_clustering = toronto_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(toronto_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10] 

toronto_grouped_clustering.shape

# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)
toronto_grouped_clustering.head()
# add clustering labels
neighborhoods_venues_sorted.set_index('Neighborhood').head()

toronto_merged = toronto_data

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
toronto_merged = toronto_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

# not all populated -Hui
toronto_merged = toronto_merged.dropna()

display(toronto_merged.head()) # check the last columns!

  Postal Code           Borough  ... 9th Most Common Venue  10th Most Common Venue
0         M5A  Downtown Toronto  ...           Event Space              Food Truck
1         M7A  Downtown Toronto  ...     Martial Arts Dojo        Ramen Restaurant
2         M5B  Downtown Toronto  ...       Bubble Tea Shop             Pizza Place
3         M5C  Downtown Toronto  ...                Bakery                Creperie
4         M4E      East Toronto  ...      Doner Restaurant          Farmers Market

[5 rows x 16 columns]

# 3.4 Finally, display resulting clusters on map

In [181]:

# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(toronto_merged['Latitude'], toronto_merged['Longitude'], toronto_merged['Neighborhood'], toronto_merged['Cluster Labels']):
    cluster = int(cluster)
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

# 3.5 Examime clusters

In [185]:
clusters = ['Restaurant', 'studio', "park1", "park2", 'service']
for i in range(5):
  print(f"cluster label: {clusters[i]} ")
  display(toronto_merged.loc[toronto_merged['Cluster Labels'] == i, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]])

cluster label: Restaurant

             Borough  ...       10th Most Common Venue
0   Downtown Toronto  ...                   Food Truck
1   Downtown Toronto  ...             Ramen Restaurant
2   Downtown Toronto  ...                  Pizza Place
3   Downtown Toronto  ...                     Creperie
4       East Toronto  ...               Farmers Market
5   Downtown Toronto  ...                Deli / Bodega
6   Downtown Toronto  ...         Fast Food Restaurant
7   Downtown Toronto  ...                  Event Space
8   Downtown Toronto  ...          American Restaurant
9       West Toronto  ...                     Bus Line
10  Downtown Toronto  ...  Eastern European Restaurant
11      West Toronto  ...             Cuban Restaurant
12      East Toronto  ...                 Cocktail Bar
13  Downtown Toronto  ...          Sporting Goods Shop
14      West Toronto  ...           Italian Restaurant
15      East Toronto  ...            Food & Drink Shop
16  Downtown Toronto  ...                  Salad Place
17      East Toronto  ...               Farmers Market
20   Central Toronto  ...                  Event Space
24   Central Toronto  ...                          Pub
25      West Toronto  ...                         Bank
26   Central Toronto  ...           Salon / Barbershop
27  Downtown Toronto  ...        College Arts Building
30  Downtown Toronto  ...                  Art Gallery
31   Central Toronto  ...         Ethiopian Restaurant
32  Downtown Toronto  ...                       Bakery
34  Downtown Toronto  ...           Seafood Restaurant
35  Downtown Toronto  ...                 Liquor Store
36  Downtown Toronto  ...                  Salad Place
37  Downtown Toronto  ...                        Hotel
38      East Toronto  ...            Martial Arts Dojo

[31 rows x 12 columns]

cluster label: studio

            Borough  ...  10th Most Common Venue
18  Central Toronto  ...              Donut Shop

[1 rows x 12 columns]

cluster label: park1

             Borough  ...       10th Most Common Venue
21   Central Toronto  ...            Electronics Store
23   Central Toronto  ...  Eastern European Restaurant
29   Central Toronto  ...            Electronics Store
33  Downtown Toronto  ...            Electronics Store

[4 rows x 12 columns]

cluster label: park2

         Borough  ...       10th Most Common Venue
22  West Toronto  ...  Eastern European Restaurant

[1 rows x 12 columns]

cluster label: service

            Borough  ...       10th Most Common Venue
19  Central Toronto  ...  Eastern European Restaurant

[1 rows x 12 columns]