# 1. Introduction
## 1.1 Background
San Francisco Bay Area is a populous region in Northern California with nearly 7.8 million people within nine-county region. It is a major job hub for high tech workers, the population has grown by over 600k since 2010 according to a report by KQED news.[1] There are lots of challenges for thousands of newcomers when they first arrived, and one of the most important and frequent questions is where should I live? Within a commute of 1-2 hours, there are lots of cities one can choose from. In this project, I want to use publicly available geographic data to help answer this question with the tool I have learned during this online course.
## 1.2 Data source
First, I need to get a list of cities in Bay Area from wiki page [2]. There are around ~100 cities, I filter out 25 most populated cities as candidate cities based on area size and population per square miles. Then, I will select a list of criteria to use for ranking each city. this includes schools, housing costs, neighborhoods, crime rates, etc. Some of the data will come from Foursquare website as used in previous course projects, others will come different online resources.




## Reference:
1. "MAP: The Bay Area Leads California in Population Growth": https://www.kqed.org/news/11741275/map-the-bay-area-leads-california-in-population-growth
2. "List of cities and towns in the San Francisco Bay Area" : "https://en.wikipedia.org/wiki/List_of_cities_and_towns_in_the_San_Francisco_Bay_Area"

# Step 1: Select candidate cities in Bayarea
Requirements: 

*	To limit the scope, only upper half of cities with bigger area are considered. This means we sorted the ~100 cities by area size, and discard smaller cities.
*	Then I pick top 25 most populated cities from remaining list, and use that as candidate cities.

In [91]:
import random # library for random number generation
import numpy as np # library for vectorized computation
import pandas as pd # library to process data as dataframes

## 1.1 Scrape from wikipedia using pandas 'read_html'

In [92]:
wiki_url = "https://en.wikipedia.org/wiki/List_of_cities_and_towns_in_the_San_Francisco_Bay_Area"
wiki_data = pd.read_html(wiki_url)[1]
print(f"{wiki_data.shape}")
display(wiki_data)

wiki_data = wiki_data.droplevel(0, axis=1)
wiki_data.rename(columns={'Population (2010)[8][9]': 'population'}, inplace=True)
wiki_data.keys()
display(wiki_data['population'])
wiki_data['population_per_sq_mi'] = wiki_data['population'] / wiki_data['sq mi']
wiki_data.head()
threshold_area = wiki_data['sq mi'].describe()['50%']
print(threshold_area)
target_cities = wiki_data
target_cities = target_cities[target_cities['sq mi'] >= threshold_area]

target_cities = target_cities.sort_values(by='population_per_sq_mi', ascending=False).reset_index(drop=True)[:25]
display(target_cities)

(101, 7)

                Name  Type        County  ... Land area[8]           Incorporated[7]
                Name  Type        County  ...        sq mi   km2     Incorporated[7]
0            Alameda  City       Alameda  ...        10.61  27.5      April 19, 1854
1             Albany  City       Alameda  ...         1.79   4.6  September 22, 1908
2    American Canyon  City          Napa  ...         4.84  12.5     January 1, 1992
3            Antioch  City  Contra Costa  ...        28.35  73.4    February 6, 1872
4           Atherton  Town     San Mateo  ...         5.02  13.0  September 12, 1923
..               ...   ...           ...  ...          ...   ...                 ...
96           Vallejo  City        Solano  ...        30.67  79.4      March 30, 1868
97      Walnut Creek  City  Contra Costa  ...        19.76  51.2    October 21, 1914
98           Windsor  Town        Sonoma  ...         7.27  18.8        July 1, 1992
99          Woodside  Town     San Mateo  ...        11.73  30.4   November 16, 1956
100       Yountville  Town          Napa  ...         1.53   4.0    February 4, 1965

[101 rows x 7 columns]

0       73812
1       18539
2       19454
3      102372
4        6914
        ...
96     115942
97      64173
98      26801
99       5287
100      2933
Name: population, Length: 101, dtype: int64

9.14

                   Name  ... population_per_sq_mi
0         San Francisco  ...         17180.179219
1              Berkeley  ...         10752.626552
2             San Mateo  ...          8013.767519
3               Oakland  ...          7003.477326
4   South San Francisco  ...          6961.925602
5               Alameda  ...          6956.833176
6             Sunnyvale  ...          6370.213734
7           San Leandro  ...          6368.065967
8           Santa Clara  ...          6326.344378
9         Mountain View  ...          6172.166667
10             San Jose  ...          5358.533960
11            Cupertino  ...          5177.797513
12             Milpitas  ...          4914.643120
13                 Napa  ...          4311.378924
14           Santa Rosa  ...          4279.180723
15             Petaluma  ...          4029.276773
16              Concord  ...          3995.646481
17            San Ramon  ...          3994.905869
18         Redwood City  ...          3955.458290
19              Vallejo  ...          3780.306488
20            Pittsburg  ...          3673.867596
21              Antioch  ...          3611.005291
22           Union City  ...          3570.416025
23           San Rafael  ...          3504.128719
24            Brentwood  ...          3480.797836

[25 rows x 8 columns]